%h1.title= 'Dashboard'

.tile.is-ancestor
  .tile.is-parent.is-vertical
    .tile.is-child.notification.is-primary
      %h2.title.is-2
        - if top_three_ranked_properties.empty?
          = 'No Available Properties'
        - else
          = top_three_ranked_properties.first.fetch(:rating)
      %p.subtitle
        = top_three_ranked_properties.first&.fetch(:address)
      %hr
      - top_three_ranked_properties.last(2).each do |property|
        %p.title.is-3
          = property[:rating]
        %p.subtitle.is-6.is-spaced= property[:address]
