.tile.is-ancestor
  .tile.is-parent.is-vertical
    .tile.is-child.box
      .buttons.is-pulled-right
        = link_to 'Edit', routes.edit_property_path(property.id), class: 'button is-primary'
        .button.is-warning#trigger-rating
          Rate
      %p.title= address
      %p.subtitle= suburb_and_postcode
      %p= property.description
    .tile.is-child.box
      %p.title.is-4= 'Features'
      %table.table.is-fullwidth
        - property.features.each do |feature|
          %tr
            %td= feature.name
            %td.has-text-weight-bold= property_features.value_for_feature(feature.id)
            %td= property_features.note_for_feature(feature.id)

  .tile.is-parent
    .tile.is-child.box
      = image property_map

.tile.is-ancestor
  .tile.is-parent
    .tile.is-child.box
      %p.title.is-4= 'Weighted Ratings'
      %table.table.is-fullwidth
        - rating_data.each do |data|
          %tr
          %td= data[:criteria_description]
          %td.has-text-weight-bold= data[:weighted_avg]
  .tile.is-parent
    .tile.is-child.box
      %div.title.is-4= 'Score'
      %div.title.is-1= overall_rating

.tile.is-ancestor
  .tile.is-parent
    .tile.is-child.box
      %canvas{ id: 'property-ratings', width: '900', height: '300' }

=render partial: 'ratings/form_modal'

=javascript 'rating', type: 'text/javascript'
=javascript 'property_rating_graphs', type: 'text/javascript'
