.tile.is-ancestor
  .tile.is-parent.is-vertical
    .tile.is-child.box
      .buttons.is-pulled-right
        = link_to 'Edit', routes.edit_property_path(property.id), class: 'button is-primary'
        .button.is-warning#trigger-rating
          Rate
      %p.title= address
      %p.subtitle= suburb_and_postcode
      %p.title.is-4= formatted_current_price
      = link_to 'Price History', routes.property_prices_path(property_id: property.id)
      %p= property.description
    .tile.is-child.box
      %p.title.is-4= 'Features'
      .level
        .level-item.has-text-centered
          %div
            %p.heading= 'Land Size'
            %p.title.is-5= property.formatted_land_size
        .level-item.has-text-centered
          %div
            %p.heading= 'House Size'
            %p.title.is-5= property.formatted_house_size

      .level
        - property.features.each do |f|
          .level-item.has-text-centered
            %div
              %p.heading= f.name
              %p.title.is-5= property_features.value_for_feature(f.id)

  .tile.is-parent
    .tile.is-child.box
      = image property_map

.tile.is-ancestor
  .tile.is-parent
    .tile.is-child.box
      %p.title.is-4= 'Weighted Ratings'
      %table.table.is-fullwidth
        - rating_data.each do |data|
          %tr
          %td= data[:criteria_description]
          %td.has-text-weight-bold= data[:weighted_avg]
  .tile.is-parent
    .tile.is-child.box
      %div.title.is-4= 'Score'
      %div.title.is-1= overall_rating

.tile.is-ancestor
  .tile.is-parent
    .tile.is-child.box
      %canvas{ id: 'property-ratings', width: '900', height: '300' }

=render partial: 'ratings/form_modal'

=javascript 'rating', type: 'text/javascript'
=javascript 'property_rating_graphs', type: 'text/javascript'
