<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= javascript 'javascripts/application', type: 'text/javascript' %>
    <%= javascript 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js' %>
    <%= stylesheet 'bulma' %>
    <%= favicon %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <%= render partial: 'shared/nav' %>
    <div class='section'>
      <div class='container'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
